<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <h3>{{ hello_text }}</h3>
    {% for post in post_list %}
        <p>{{ post.author }} [{{ post.creation_date_time| date:'d-M-Y g:i' }}] <a href="{{ site_link }}{% url 'post_show' post.id %}">{{ post.title }}</a></p>
    {% endfor %}
</body>
</html>