{% extends 'default.html' %}

{% block title %}
    Список авторов
{% endblock title %}
 
{% block main %}
    <nav class="my-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Список авторов</li>
        </ol>
    </nav>
    <ul class="list-group list-group-flush">
        {% for author in list_author %}
            <li class="list-group-item">{{ author }}</li>
        {% endfor %}
    </ul>
{% endblock main %}